
.icon-direccion:before { content: '\e800'; } /* '' */
.icon-ercom:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-foco:before { content: '\e803'; } /* '' */
.icon-informacion:before { content: '\e804'; } /* '' */
.icon-inicio:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-marketing:before { content: '\e807'; } /* '' */
.icon-mensaje:before { content: '\e808'; } /* '' */
.icon-mision:before { content: '\e809'; } /* '' */
.icon-nombre:before { content: '\e80a'; } /* '' */
.icon-nosotros:before { content: '\e80b'; } /* '' */
.icon-porqueelegirnos:before { content: '\e80c'; } /* '' */
.icon-rrss-compartir:before { content: '\e80d'; } /* '' */
.icon-soa:before { content: '\e80e'; } /* '' */
.icon-soluciones:before { content: '\e80f'; } /* '' */
.icon-telefono:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-vineta:before { content: '\e812'; } /* '' */
.icon-vision:before { content: '\e813'; } /* '' */
.icon-1:before { content: '\e814'; } /* '' */
.icon-2:before { content: '\e815'; } /* '' */
.icon-3:before { content: '\e816'; } /* '' */
.icon-asesoria:before { content: '\e817'; } /* '' */
.icon-clientes:before { content: '\e818'; } /* '' */
.icon-clientes-manos:before { content: '\e819'; } /* '' */
.icon-contacto:before { content: '\e81a'; } /* '' */
.icon-aliados:before { content: '\e81b'; } /* '' */